<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><%= @race.event.name %></a>
  </div>
  <ul class="nav navbar-nav">
    <% @races.each do |race| %>
      <li class="<%= 'active' if race.id == params[:id] %>">
        <a href="<%= race_path(race) %>"><%= race.number %>R</a>
      </li>
    <% end %>
  </ul>
</nav>

<div>
  <h1><%= @race.name %></h1>
</div>

<div>
  <table id="entry" class="table">
    <thead>
      <tr>
        <th>枠番</th>
        <th>馬番</th>
        <th>馬名</th>
        <th>騎手</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% @entries.each do |e| %>
        <tr>
          <% if @gate_manager.head_of_gate?(e.horse_number) %>
            <td class="gate <%= 'gate-' + e.gate_number.to_s %>"
                rowspan="<%= @gate_manager.gates[e.gate_number].length %>" >
              <%= e.gate_number %>
            </td>
          <% end %>
          <td class="gate"><%= e.horse_number %></td>
          <td><%= e.horse.name %></td>
          <td>
            <%= e.jockey.name %><br><%= e.jockey_weight %>
          </td>

          <% e.horse.latest_results(e.held_on).each do |hr| %>
            <td class="result">
              <div>
                <div><%= hr.held_on %></div>
                <div><%= hr.race.event.name %></div>
                <div><%= hr.short_name %></div>
                <div><%= hr.distance %></div>
                <div><%= (hr.race_time.to_i / 60).to_s + ':' + sprintf('%02d', hr.race_time.to_i % 60) + '.' + hr.race_time.to_s[-1] %></div>
                <div><%= hr.order_of_finish %>(<%= hr.popularity %>人)</div>
                <div><%= hr.jockey.name %> <%= hr.jockey_weight %></div>
                <div><%= hr.corner_position %> (<%= hr.last_3f %>)</div>
                <div><%= hr.horse_weight %> (<%= sprintf('%+d', hr.weight_diff) %>)</div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
